<div class="mt-5 row">
    <div class="mr-auto">
        <span class="h2"><%= @task.name %></span>
    </div>
    <div>
        <span class="h2 text-danger">状態</span>
    </div>
</div>
<div class="my-3 row">
    <button class="btn btn-lg btn-primary" disabled>ラベル名</button>
    <button class="btn btn-lg btn-primary" disabled>ラベル名</button>
    <button class="btn btn-lg btn-primary" disabled>ラベル名</button>
</div>