<% if @task.errors.any? %>
   <div id="error_explanation" class="alert alert-danger">
      <ul>
         <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
         <% end %>
      </ul>
   </div>
<% end %>
